@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './base.css';

@import 'https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inconsolata:wght@200..900&family=Sono:wght@200..800&display=swap';

#app {
  margin: 0 auto;
  font-weight: 400;
	font: 0.9em Inconsolata,sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h1 {
	font-weight: 800;
	font-size: 2rem;
	span {
		font-weight: inherit;
		color: var(--color-accent);
	}
}

h2 {
	font: 1.25rem 'DM Serif Text',serif;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 800;
	justify-self: flex-start;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
	&:first-child {
		margin-top: 0;
	}
	&:after {
		margin-left: calc(var(--spacing-x) * -1);
		margin-top: 1rem;
		width: calc(100% + (var(--spacing-x) * 2));
		height: 1px;
		background: currentcolor;
		content: '';
		display: block;
	}
}

h3 {
	font: 1rem 'DM Serif Text',serif;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

strong {
	font-weight: 700;
	em {
		font-weight: inherit;
	}
}

.board li {
	label {
		cursor: pointer;
		span {
			font-weight: inherit;
			line-height: 1.5;
		}
	}
	em {
		color: var(--color-blue);
	}
	&:nth-child(3n + 1) {
		label span em {
			filter: brightness(90%);
			color: var(--color-green);
		}
	}
	&:nth-child(3n + 2) {
		label span em {
			color: var(--color-magenta);
		}
	}
	&.bingo {
		& {
			label span em {
				color: var(--vt-c-white);
			}
		}
	}
}
